<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-4"><%= link_to "Profile", user_path(params[:id]) %></div>
        <div class="col-sm-4"><%= link_to "Followings", followings_path(params[:id]) %></div>
        <div class="col-sm-4"><%= link_to "Followers", followers_path(params[:id]) %></div>
      </div>
    </div>
    
  </aside>
  <div class="col-md-8">
    <% if @followers.any? %>
      <h3>フォローされている人は <%= @followers.count %>人です</h3>
      <ol class="microposts">
        <% @followers.each do |follower| %>
          <%= render partial: 'shared/follower_list', locals: { follower: follower } %>
        <% end %>
      </ol>
    <% end %>  
  </div>
</div>


